<p id="notice"><%= notice %></p>
<% if alert %>
<div class="alert alert-danger" role="alert" id:"alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  <%= alert %>
</div>
<%end%>

<h1>Listing Worksheets</h1>

<%= render 'search_form' %>

<table class="table">
  <thead>
    <tr>
      <th>Grade</th>
      <th>Subj</th>
      <th>Category</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @worksheets.each do |worksheet| %>
      <tr>
        <td><%= worksheet.klass %></td>
        <td><%= worksheet.subj %></td>
        <td><%= worksheet.category.name %></td>
        <td><%= worksheet.description %></td>
        <td><%=  link_to "Download", worksheet.file.url, class:"btn btn-default"%></td>
        <td><%= link_to '', worksheet, class: "glyphicon glyphicon-search" %></td>
        <td><%= link_to '', edit_worksheet_path(worksheet), class: "glyphicon glyphicon-pencil" %></td>
        <td><%= link_to '', worksheet, method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-remove" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to raw(" <span class='glyphicon glyphicon-plus'></span> Add Worksheet  "), new_worksheet_path, class: 'btn btn-default' %>
