<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-4">
    <strong>Grade:</strong>
    <%= @worksheet.klass %>
  </div>
  <div class="col-md-4">
    <strong>Subject:</strong>
    <%= @worksheet.subj %>
  </div>
  <div class="col-md-4">
    <strong>Worksheet:</strong>
    <%=  link_to "Download", @worksheet.file.url, class:"btn btn-default"%>
  </div>
</div>

<div class="row">
  <%= @worksheet.description %>
</div>

<%= link_to 'Edit', edit_worksheet_path(@worksheet), class: "btn btn-default" %> |
<%= link_to 'Back', worksheets_path, class: "btn btn-default" %>
